<div class="city_metro">
  <p><%= @metro.name %></p>
  <p class="metro_return"><%= link_to "Return to Metros", metros_path %></p>
</div>

<div class="immersive_labels">
  <% @metro.programs.each do |program| %>
    <p><%= link_to program.name, metro_program_path(@metro, program), class: "immersive_name"%></p>
  <% end %>
</div>
